.reveal {
  body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.75em;
    margin: 0; }

  h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 20px; }
    h1 a, h2 a, h3 a, h4 a {
      color: black; }

  h1 {
    font-size: 5rem; }
    @media only screen and (max-width: 480px) {
      h1 {
        font-size: 4.5rem; } }

  h2 {
    font-size: 4.5rem; }
    @media only screen and (max-width: 480px) {
      h2 {
        font-size: 2.5rem; } }

  h3 {
    font-size: 2.5rem; }

  h4 {
    font-size: 2rem; }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.75rem;
    font-weight: 200;
    letter-spacing: 0.025em;
    line-height: 1.5; }

  strong {
    font-weight: 400; }

  section {
    text-align: left;

    img {
      float: left;
      height: 200px;
      padding-right: 50px;
      &.tile {
        height: 50px;
        padding: 0;
      }
    }

    iframe {
      width: 100%;
      height: 500px;
    }
  }
}

#chart {
  svg { height: 500px; }
}

nav {
  display: inline-block;
  clear: both;
  ul {
    padding: 0px;
    list-style: none;
    li {
      float: left;
      padding: 10px;
    }
  }
}

.wall {
  display: block;
  .image-frame {
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
  }
}

.barchart {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  width: 4000px;

  .barchart__chart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    height: 300px;
    .bar {
      display: flex;
      width: 20px;
      &.increase { background-color: green; }
      &.total { background-color: red; }
      span {
        color: white;
        position: absolute;
      }
    }
  }

  .barchart__x {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    height: 60px;
    .caption {
      display: flex;
      height: 40px;
      transform: rotateZ(-90deg);
    }
  }
}

ol {
  padding: 0;
  li {
    display: block;
    clear: both;
    img {
      float: left;
      max-width: 70px;
      max-height: 70px;
      padding: 0 10px 10px 0;
    }
  }

  .name {
    font-weight: bold;
    font-size: 16px;
  }
}

.bracket {
  float: left;
  max-width: 350px;
  padding: 10px;
  ol {
    padding: 0;
    li {
      overflow: hidden;
      white-space: nowrap;
      padding-bottom: 10px;
      .value {
        width: 50px;
        display: inline-block;
        text-align: right;
        padding-right: 10px;
      }
      p {
        white-space: normal;
      }
      img {
        float: left;
        max-width: 70px;
        max-height: 70px;
      }
    }
  }
}