<html>
  <head>
    <link rel="stylesheet" href="/oredev-kodapor.css" />
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <script src="oredev-kodapor.js"></script>
  </head>
  <body>

  <div id="tooltip" class="hidden">
        <p><span id="value"></p>
  </div>
    <div id= "charttitle"></div>
    <div id= "pbar"></div>
    <div id="chart" style='width:960px; height:480px;'></div>
    <script>
      drawmap();
    </script>
  </body>

</html>
