<html>
  <head>
    <link rel="stylesheet" href="/oredev-kodapor.css" />
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <script src="oredev-kodapor.js"></script>
  </head>
  <style>
    body {
        font-family:"Lucida Grande","Droid Sans",Arial,Helvetica,sans-serif;
    }
    .bld {
        font-weight: bold;
    }
</style>
  <body>

  <div id="tooltip" class="hidden">
        <p><span id="value"></p>
  </div>
    <div style="width: 40%;">
    </div>
    <script>
      drawwordcloud();
    </script>
  </body>

</html>
